################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/packages
/Project/WingtipToys/bin
/Project/WingtipToys/obj/
/Project/WingtipToys/App_Data
