<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=b0b13079-b840-4c9d-bc47-a5a80178b798.sqlserver.sequelizer.com;Database=dbb0b13079b8404c9dbc47a5a80178b798;User ID=qolifmojlfippprf;Password=kdzqFQ7tbGJaA4mzBjFEwarhWpVm7vL3mWZYifX7JisN3H3Fa4jzejXjUrBr3UuN;"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="WingtipToys"
       connectionString="Server=b0b13079-b840-4c9d-bc47-a5a80178b798.sqlserver.sequelizer.com;Database=dbb0b13079b8404c9dbc47a5a80178b798;User ID=qolifmojlfippprf;Password=kdzqFQ7tbGJaA4mzBjFEwarhWpVm7vL3mWZYifX7JisN3H3Fa4jzejXjUrBr3UuN;"
       xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>